# Ignore environment variables
.env

# Ignore node modules
node_modules/

# Ignore log files
*.log

# Ignore dependency files
package-lock.json

# Ignore Docker-related files (optional)
.dockerignore
docker-compose.yml

# Ignore system files
.DS_Store
Thumbs.db